<!DOCTYPE html>
<html lang='en' xmlns:script='http://www.w3.org/1999/html'>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Damage Report</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	<style>
		body { font-family:'Poppins', sans-serif; font-size: 0.975rem}
		.poppins-bold { font-family: 'Poppins-bold', sans-serif; font-weight: bold; font-size: 0.975rem}
	</style>
</head>
<body>
<center style='margin: 50px'>
	<table class='table table-bordered'>
		<tbody>
		<tr>
			<td rowspan='6' style='width: 13.75rem;'><img src="{{imageSrc}}" alt='logo' style='width: 12.5rem; margin-top: 50%'></td>
		</tr>
		<tr>
			<td class='poppins-bold text-center '>PT.BUMI LINTAS TAMA</td>
			<td class='poppins-bold'>NO.DOK</td>
			<td class='poppins-bold'>{{ damageReport.documentNumber }}</td>
		</tr>
		<tr>
			<td class='poppins-bold text-center align-middle' rowspan="2" style="align:middle;">
				FORMULIR SISTEM MANAJEMEN KESELAMATAN
			</td>
			<td class='poppins-bold'>REVISI</td>
			<td class='poppins-bold'>{{ damageReport.revision }}</td>
		</tr>
		<tr>
			<td class='poppins-bold'>TGL EFEKTIF</td>
			<td class='poppins-bold'>{{ moment damageReport.effectiveDate "YYYY-MM-DD" }}</td>
		</tr>
		<tr>
			<td class='poppins-bold text-center' colspan="3">LAPORAN KERUSAKAN PADA SAAT OPERASI PELAYARAN KAPAL</td>
		</tr>
		<tr>
			<td class='poppins-bold text-center' colspan='3'>Antar Muka Prosedur: BLT-1.09.0-01 Pelaporan Ketidaksesuaian, Kecelakaan dan Kejadian Berbahaya</td>
		</tr>
		</tbody>
	</table>

	{{!-- Gambar Kerusakan --}}
	<div style="display:flex;flex-direction:row;">
		<p style="text-transform:capitalize">gambar kerusakan</p>
	</div>
	<div style="display:flex;flex-direction:row;flex-wrap:wrap;row-gap:1rem;column-gap:1rem;">		
		{{#each damagePhotos }}
		<div
			style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;border:solid 0px #cacaca;">
			<img src="{{this.url}}" style="width:230px;height:130px;" />
			<p>{{ this.name }}</p>
		</div>
		{{/each}}
	</div>
	{{!-- End Gambar Kerusakan --}}

	<table class="table table-bordered" style="margin-top:1.5rem;border-collapse:separate;border-spacing:0;">
		<thead>
			<tr>
				<th colspan="5" class="background-color:#00803C;color:black;">
					{{
						damageReport.ship.name
					}}
				</th>
			</tr>			
		</thead>
		<tbody>
			<tr>
				<td colspan="2" style="border-right:none;!important">Form number</td>
				<td style="border-left:0;!important">: {{ damageReport.formNumber }}</td>
				<td>Tanggal laporan</td>
				<td>
					{{ moment damageReport.reportDate "YYYY-MM-DD" }}					
				</td>
			</tr>
			<tr>
				<td colspan="2">Pelabuhan</td>
				<td>: {{ damageReport.port }}</td>
				<td>Tanggal Kejadian</td>
				<td>{{ moment damageReport.eventDate "YYYY-MM-DD" }}</td>
			</tr>
			<tr>
				<td style="width:25px;">No</td>
				<td colspan="5" style="text-align:center;font-weight:normal">Jenis Kerusakan</td>				
			</tr>
			{{!-- Loop Damage Types --}}
			{{#each damageTypes }}
				<tr>
					<td style="width:25px;">{{#increment @index}}{{/increment}}</td>
					<td colspan="5" style="text-align:left;">{{this}}</td>				
				</tr>
			{{/each}}
			{{!-- End Loop Damage Types --}}
			
			<tr>
				<td style="width:25px;">No</td>
				<td colspan="5" style="text-align:center;font-weight:normal">Penyebab Kerusakan</td>				
			</tr>
			{{!-- Loop Damage Causes --}}
			{{#each damageCauses }}
			<tr>
				<td style="width:25px;">{{#increment @index}}{{/increment}}</td>
				<td colspan="5" style="text-align:left;">{{this}}</td>
			</tr>
			{{/each}}
			{{!-- End Damage Causes --}}

			<tr>
				<td style="width:25px;">No</td>
				<td colspan="5" style="text-align:center;font-weight:normal">Langkah perbaikan yang dilakukan</td>				
			</tr>
			{{!-- Loop Damage Repair Plan  --}}
			{{#each damageRepairPlan}}
			<tr>
				<td style="width:25px;">{{#increment @index}}{{/increment}}</td>
				<td colspan="5" style="text-align:left;">{{this}}</td>				
			</tr>
			{{/each}}
			{{!-- End Repair plan --}}
			<tr>
				<td colspan="6" style="text-align:left;">Catatan tambahan</td>				
			</tr>
			<tr>
				<td colspan="6" style="text-align:left;">{{ damageReport.notes }}</td>				
			</tr>
		</tbody>
	</table>	
	
	<center>
		{{!-- <table class='table table-bordered' style='width:100%;'>
			<tr>
				<td style='width: 25rem; text-align: left; border-width: 0; border-style: none; border-color: white' colspan='4'>Tanggal Laporan: {{currentDate}}</td>
			</tr>
			<tr>
				<td style='width: 25rem; text-align: center; text-transform: uppercase'>DIBUAT OLEH</td>
				<td style='width: 25rem; text-align: center; text-transform: uppercase'>DIPERIKSA OLEH</td>
				<td style='width: 25rem; text-align: center; text-transform: uppercase'>DISETUJUI OLEH</td>				
			</tr>
			<tr>
				<td style='height: 8rem'></td>
				<td></td>
				<td></td>				
			</tr>
			<tr>
				<td class='poppins-bold text-center'>					
					<p>BAMBANG HERMAWAN</p>
					<p>KKM</p>
				</td>
				<td class='poppins-bold text-center'>
					<p>ALIMUDDIN</p>
					<p>NAHKODA</p>
				</td>
				<td class='poppins-bold text-center'>
					<p>MANAJER AIRLOG</p>
				</td>
				<td class='poppins-bold text-center'>MANAGER ARLOG</td>
			</tr>
		</table> --}}
		<table class='table table-bordered' style='width:100%;'>
			<tr>
				{{#each approvals}}
				<td style='width: 25rem; text-align: center; text-transform: uppercase'>{{ this.desc }}</td>
				{{/each}}
			</tr>
			<tr>
				{{#each approvals}}
				<td style='height: 7rem'></td>
				{{/each}}
			</tr>
			<tr>
				{{#each approvals}}
					<td class='poppins-bold text-center'>
						<div
							style="height:4.8rem;display:flex;flex-direction:column;justify-content:space-between;align-items:center">
							{{!-- {{#with user}} --}}
								<p style="text-transform:uppercase;">{{ this.name }}</p>
								<p style="text-transform:uppercase;">{{ this.role }}</p>
							{{!-- {{/with}} --}}
						</div>
					</td>
				{{/each}}
			</tr>
		</table>
	</center>

</div>
</body>
</html>
